
:root {
  --unicode-main-text-colour: #8593A5;
  --unicode-dark-grey: #323A45;
  --unicode-mid-grey1: #6C757D;
  --unicode-mid-grey3: #98A6AC;
  --unicode-pale: #F9FAFD;
  --unicode-pale-purple: #DEDFFC;
  --unicode-purple: #727DF5;
  --unicode-yellow: #FFBC00;
  --unicode-red: #F95C7C;
  --unicode-green: #0BCF97;
  --unicode-blue: #39B0D1;
}

html, body {
  min-height: 100% !important;
  height: 100%;
}

body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
  margin: 0;
  color: var(--unicode-main-text-colour);
	background-color: var(--unicode-pale);
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidenav {
	height: 100%;
  width: 23%;
  min-width: 318px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #323A45;
	overflow-x: hidden;
	padding: 20px 20px 0px 30px;
}
	
.sidenav a {
	padding-top: 30px;
	text-decoration: none;
	font-family: 'Cabin', sans-serif;
	font-size: 16px;
	line-height: 19px;
	color: #8593A5;
	display: block;
}

.sidenav a:hover {
	color: #FFFFFF;
}

.nav-parent {
	padding-top: 50px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: bold;
}

a.nav-child {
  margin-left: 10px;
  font-weight: 500;
  letter-spacing: 1px;
}

#nav-indicator {
	float: right;
  margin-right: 5px;
  line-height: 19px;
}

#new-course {
  /* padding-bottom: 0px; */
  display: inline;
}

.topbar {
  position: sticky;
	top: 0;
	background-color: #FFFFFF;
  margin-left: 23%;
	height: 60px;
	overflow: hidden;
	display: block;
	padding-right: 25px;
}

#username {
	text-align: right;
  color: #8593A5;
	font-family: 'Cabin';
	font-size: 16px;
	line-height: 60px;
}

.fas {
	margin-left: 10px;
}

.fa-plus-circle {
	float: right;
}

.content-container {
  margin-left: 23%;
  margin-right: 0;
  z-index: 1;
  /* border: 2px solid black; */
}

.portal-msg {
  font-family: 'Cabin', sans-serif;
  text-align: center;
  color: var(--unicode-mid-grey2);
}

.purple-btn {
  background-color: var(--unicode-purple);
  color: white;
  font-weight: 600;
}

a .purple-btn:hover {
  background-color: #8790F5;
  color: white;
}

.FUCK *{
  /* border: 2px solid black; */
}
