
:root {
  --unicode-main-text-colour: #8593A5;
  --unicode-dark-grey: #323A45;
  --unicode-mid-grey1: #6C757D;
  --unicode-mid-grey3: #98A6AC;
  --unicode-pale: #F9FAFD;
  --unicode-pale-purple: #DEDFFC;
  --unicode-purple: #727DF5;
  --unicode-yellow: #FFBC00;
  --unicode-red: #F95C7C;
  --unicode-green: #0BCF97;
  --unicode-blue: #39B0D1;
}

html, body {
  min-height: 100% !important;
  height: 100%;
}

body {
	font-family: 'Cabin', sans-serif;
  margin: 0;
  color: var(--unicode-main-text-colour);
	background-color: var(--unicode-pale);
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body > *:not(.sidenav):not(.topbar) {

  -webkit-transition: 0.3s -webkit-filter linear;
  -o-transition: 0.3s -o-filter linear;
  -moz-transition: 0.3 -moz-filter linear;
  -ms-transition: 0.3 -moz-filter linear;
}

body.active > *:not(.sidenav):not(.topbar) {
  -webkit-filter: blur(3px);
  -webkit-transition: 0.3s -webkit-filter linear;

  -o-filter: blur(3px);
  -o-transition: 0.3s -o-filter linear;

  -moz-filter: blur(3px);
  -moz-transition: 0.3 -moz-filter linear;

  -ms-filter: blur(3px);
  -ms-transition: 0.3 -moz-filter linear;
}

.sidenav {
	height: 100%;
  width: 23%;
  min-width: 275px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #323A45;
	overflow-x: hidden;
	padding: 20px 20px 0px 30px;
}

.sidenav a {
	padding-top: 30px;
	text-decoration: none;
	font-size: 16px;
	line-height: 19px;
	color: #8593A5;
	display: block;
}

.sidenav a:hover {
	color: #FFFFFF;
}

#logo-horiz {
  width:80%; 
  display: block; 
  margin-left: auto; 
  margin-right: auto
}

.nav-parent {
	padding-top: 50px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: bold;
}

a.nav-child {
  margin-left: 10px;
  font-weight: 500;
  letter-spacing: 1px;
}

#nav-indicator {
	float: right;
  margin-right: 5px;
  line-height: 19px;
}

.footer {
  font-size: 11px;
  position: absolute;
  left: 0;
  bottom: 0;
  /* width: 23%; */
  text-align: center;
  padding: 0 30px;
}

#new-course-btn {
  /* padding-bottom: 0px; */
  display: inline; 
}

#new-course-icon {
  /* padding-bottom: 0px; */
  position: absolute; 
  margin-right: 5px;
  right: 5%;
}

.topbar {
  position: sticky;
  position: -webkit-sticky; /* Safari */
	top: 0;
	background-color: #FFFFFF;
  margin-left: 23%;
	height: 60px;
	overflow: hidden;
	display: block;
	padding-right: 25px;
}


#username {
	text-align: right;
  color: var(--unicode-main-text-colour);
	font-size: 16px;
	line-height: 60px;
}

#logout-icon {
  color: var(--unicode-main-text-colour);
}

.fa-sign-out-alt:hover {
  color: var(--unicode-blue);
}

.fas {
	margin-left: 10px;
}

.fa-plus-circle {
	float: right;
}

.content-container {
  margin-right: 0;
  height: 92%;
  z-index: 1;
  /* border: 2px solid black; */
  background-color: var(--unicode-pale);
  transition: background-color 0.5s linear;
}


.create-test {
  background-color: white;
  width: 40%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 60%;
  /*transform: translate(-50%, -50%);*/
  display:none;
}


.portal-msg {
  text-align: center;
  color: var(--unicode-mid-grey2);
}

.purple-btn {
  background-color: var(--unicode-purple);
  color: white;
  font-weight: 600;
}

a .purple-btn:hover {
  background-color: #8790F5;
  color: white;
}

.delete-btn {
  background-color: var(--unicode-red);
  color: white;
  font-weight: 600;
}

.admin-btns, .test-submit-btns {
  position: absolute;
  right: 0;
  font-size: 14px;
}

#new-test-btn {
  margin-right: 5px;
}

/* Course view specific styles */
.page-heading {
  font-size: 18px;
  color: var(--unicode-mid-grey1);
  text-align: start;
  line-height: 35px;
  margin-bottom: 0;
}

.all-tests {
  padding: 20px 40px;
}

.test {
  height: 175px;
  /* width: 28%; */
  width: 300px;
  /* min-width: 300px; */
  background-color: #FFFFFF;
  margin: 0 2.5%;
  /* margin: 0 auto; -> nicer for responsive */
  /* padding: 15px 15px; */
  position: relative;
  transition: background-color 0.5s linear;
}

.test.active {
  background-color: rgb(0, 0, 0, 0.3);
}

.unit-details {
  font-weight: bold;
  font-size: 20px;
}

.test-name {
  font-size: 18px;
}

#student-list {
  width: 90%;
  margin: 0 auto;
  display: block;
  color: var(--unicode-main-text-colour);
}

.student-tests #student-list {
  width: 95%;
  margin-top: 10px;
}

#student-list thead {
  position: relative;
  display: block;
  width: 100%;
}


#student-list tbody {
  display: block;
  position: relative;
  overflow-y: scroll;
  width: 100%;
}

.modal-body #student-list tbody {
  height: 125px;
}

.student-tests #student-list tbody {
  height: 250px;
}
  
#student-list th, #student-list tr, #student-list td {
  width: 100%;
  display: flex;
}

#add-student {
  width: 234px;
  margin-right: 5px;
}

#make-live {
  position: absolute;
  bottom: 15px;
}

.btn-live {
  background-color: var(--unicode-red);
  color: white;
}

.btn-not-live {
  border-color: var(--unicode-red);
  color: var(--unicode-red)
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

#test-link:hover {
  color: var(--unicode-purple);
}

#option-title {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  padding: 5px 5px;
  color: var(--unicode-main-text-colour);
  text-align: center;
}

.option-item {
  font-family: 'Open Sans';
  font-size: 16px;
  margin: 0;
  padding-left: 0px;
  text-align: start;
  padding: 5px 5px;
  border-top: 1.5px solid #DEDFFC;
  color: var(--unicode-main-text-colour);
}

.option-item:hover {
  background-color: var(--unicode-purple);
  color: #FFFFFF;
  cursor: pointer;
}

#option-btn {
  background-color: var(--unicode-pale-purple);
  border: none;
  float: right;
  height: 30px;
  width: 30px;
}

#option-btn:focus {
  box-shadow: none;
  background-color: var(--unicode-purple);
}

.option-item .fas {
  margin-right: 8px;
}

/* Modals */
.modal {
  position: absolute;
  z-index: 99999;   
}

.modal-content {
  width: 570px;
  height: 485px;
  border-radius: 6px;
  padding: 15px 15px; 
  margin: 0 auto;
}

.modal-title {
  font-family: 'DM Sans';
  font-size: 54px;
  font-weight: bold;
  line-height: 70px;
  color: var(--unicode-mid-grey1);
  text-align: center;
  margin: 15px 0 40px 0;
}

.subheading, .modal-subheading {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: var(--unicode-mid-grey1);
}

.subheading {
  margin-bottom: 0px;
}

.close {
  position: absolute; 
  right: 3%;
  padding: 5px 5px;
}

#create-btn {
  border-radius: 7px;
  width: 40%;
  margin: 40px 30% 0 30%;
}

/* Admin New Question specific styles*/
.new-question {
  background-color: white;
  border-radius: 10px;
  height: 95%;
  position: relative;
}

#question-form, #question-content, #test-form {
  height: 100%;
}

#new-question-form {
  height: 92%;
}

.question-btns {
  position: absolute;
  bottom: 0px;
}

.caret-off::before {
  display: none;
}
.caret-off::after {
  display: none;
}

.nav-item.nav-link{
  background-color: var(--unicode-pale-purple);
  color: white;
  margin: 0 4px;
  font-weight: 500;
}
.nav-item.nav-link.active {
  background-color: var(--unicode-purple);
}

.question-type-btn {
  background-color: var(--unicode-pale-purple);
  margin-right: 5px;
  border-radius: 4px;
  width: 88px;
  border: none;
  color: #FFFFFF;
}

.question-type-btn:hover, 
.question-type-btn:active, 
.question-type-btn:focus, 
.question-type-btn:focus:active,
.btn.active {
  background-color: var(--unicode-purple);
  color: #FFFFFF;
} 

.btn-primary:not(:disabled):not(.disabled).active, 
.show>.btn-primary.dropdown-toggle {
  background-color: var(--unicode-purple);
}

#q-type {
  line-height: 38px;
}

#question-description-one {
  height: 190px;
}

#question-description-three {
  height: 280px;
}

#new-question-form #question-description {
  height: 190px;
}

#add-question-description-one {
  height: 150px;
}

#add-question-description-three {
  height: 190px;
}

.tab-content {
  position: relative;
  height: 90%;
}

/* #question-content {
  position: relative;
  height: 90%;
} */


/* ACE Code Editor */
.ace_editor {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  font-family: Menlo;
  font-size: 15px;
}


.code-editor {
  width: 300px;
  height: 600px;
}

.editor-container {
  position: relative;
}

.side-panel {
  background-color: #2A2B30;
  color: #cecece;
  border-radius: 5px;
}

#edit-test-btns {
  position: absolute; 
  right: 5%;
}

.edit-test-btn {
  margin-left: 8px;
  font-size: 14px;
}

.edit-test-btn .fas {
  margin: 0 10px 0 0;
}

/* .dashboard {
  position: relative;
  height: 95%;
} */

.test-results {
  height: 180px;
  width: 20%;
  min-width: 180px;
  background-color: #FFFFFF;
  margin: 10px auto;
}

.test-results:first-of-type {
  margin-left: 0;
}

.test-results:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 1300px) and (min-width: 1100px) {
  .test-results {
    width: 300px;
    margin: 10px auto;
  }

  .test-results:first-of-type, .test-results:nth-of-type(3) {
    margin-left: 0;
  }
  
  .test-results:nth-of-type(2), .test-results:last-of-type {
    margin-right: 0;
  }
}

@media only screen and (max-width: 1100px) {
  .test-results {
    width: 100%;
  }
}

.student-tests {
  background-color: #FFFFFF;
  height: 400px;
}

.test-submit-btn {
  background-color: var(--unicode-red);
  color: white;
  font-weight: bold;
}

.result {
  display: block;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  height: 100%;
  margin-top: 30px;
}

.results-graph {
  background-color: #FFFFFF;
}

#help {
  letter-spacing: 2px;
	text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  width: 60px;
}

#help-modal-content {
  width: 800px;
  height: 600px;
}

#help-modal-body {
  overflow-y: scroll;
}