{% extends "base.html" %}

{% block content %}

<div class="row mx-2">
  <h1 class="page-heading">Tests</h1>
  <button id="new-test-btn" class="btn purple-btn">New Test +</button>
</div>
<div class="row all-tests">
  {% for test in tests %}
  <!-- <div class="test col-2 col-md-3 mb-5"> -->
  <div class="wrapper">
    <div id="lala" class="test mb-5 p-3">
      <i id="option-btn" class="fas fa-caret-square-down"></i>
      <a id="test-link" href=#>
        <h2 class="unit-details">{{ course.course_code }}<br>{{ course.name }}</h2>
        <h3 class="test-name">{{ test.name }}</h3>
      </a>
    </div>
    <div class="option-stuff">
      <ul id="options">
        <li id="option-title">
          <i class="fas fa-caret-square-up"></i>
          Options
        </li>
        <li>
          <i class="fas fa-font"></i>
          <a href=#>Rename test</a>
        </li>
        <li id="option-menu">
          <i class="fas fa-pen"></i>
          <a href=#>Edit test</a>
        </li>
        <li id="option-menu">
          <i class="far fa-clone"></i>
          <a href=#>Make copy</a>
        </li>
        <li>
          <i class="fas fa-trash"></i>
          <a href=#>Delete test</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="col"></div> -->

  {% endfor %}
</div>

{% endblock %}
