{% extends "base.html" %}

{% block content %}
<!-- Modal for new test -->
<div class="modal fade" id="new-test-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <h3 class="modal-title">Create a Test</h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <form id="createTestForm" action="{{ url_for('create_test', course_id=course.id) }}" method="post"
          name="create_test">
          {{ form.hidden_tag() }}
          <div class="form-group mb-5">
            <h4 class="modal-subheading">Test Name</h4>
            {{ form.test_name(class="form-control", placeholder="Test Name") }}
          </div>
          {{ form.submit(id="create-test-btn", class="btn purple-btn") }}
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal for manage students -->
<div class="modal fade" id="manage-students-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <h3 class="modal-title">Manage Students</h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <form class="form-inline">
          <div class="form-group mb-5">
            <label for="add-student" class="form-label modal-subheading mr-2">Add a student</label>
            <input type="text" id="add-student" class="form-control" placeholder="Student number">
            <button class="btn purple-btn">Add</button>
          </div>
        </form>

        <h4 class="modal-subheading">Enrolled students</h4>
        <table id="student-list" class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Student ID</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <!-- add functionality to populate with students in course -->
            <tr>
              <td>student.name</td>
              <td>student.id</td>
              <td><a href=#><i class="fas fa-times"></i></a></td>
            </tr>
            <!-- Delete section below when get db working -->
            <tr>
              <td>student.name</td>
              <td>student.id</td>
              <td><a href=#><i class="fas fa-times"></i></a></td>
            </tr>
            <tr>
              <td>student.name</td>
              <td>student.id</td>
              <td><a href=#><i class="fas fa-times"></i></a></td>
            </tr>
            <!-- Delete section above when get db working -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row mx-2">
  <h1 class="page-heading">Tests</h1>
  <div class="admin-btns mr-5">
    <button id="manage-students-btn" class="btn purple-btn">Manage students <i class="fas fa-users"></i></button>
    <button id="new-test-btn" class="btn purple-btn">New Test <i class="fas fa-plus"></i></button>
  </div>
</div>

<div class="row all-tests mt-3">
  {% for test in tests %}
  <div class="test mb-5 p-3">
    <div class="option-btn">
      <button type="button" id="option-btn" class="btn btn-danger dropdown-toggle dropdown-toggle-split"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li id="option-title">Options</li>
        <a href=#>
          <li class="option-item">
            <i class="fas fa-font"></i>
            Rename test
          </li>
        </a>
        <a href="{{ url_for('edit_test', course_id=course.id, test_id=test.id) }}">
          <li class="option-item">
            <i class="fas fa-pen"></i>
            Edit test
          </li>
        </a>
        <li class="option-item" onclick="deletePrompt()">
            <i class="fas fa-trash"></i>
            Delete test
          <script>
            function deletePrompt () {
              if (confirm("Are you sure you want to delete?")) {
                location.href = "{{ url_for('delete_test', course_id=course.id, test_id=test.id) }}";
              } 
            }
          </script>
        </li>
      </ul>
    </div>
    <a id="test-link" href="{{ url_for('test_view', course_id=course.id, test_id=test.id) }}">
      <h2 class="unit-details">{{ course.course_code }}<br>{{ course.name }}</h2>
      <h3 class="test-name">{{ test.name }}</h3>
    </a>
    <div id="make-live" class="row m-1">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="live-switch">
        <label class="custom-control-label" for="live-switch">Make live</label>
      </div>    
    </div>
  </div>


  {% endfor %}
</div>

{% endblock %}