{% extends "base.html" %}

{% block content %}
<!-- Page Heading -->
<div class="row mx-2">
  <h1 class="page-heading">{{ course.name }} - {{ test.name }}</h1>
  <div class="admin-btns mr-5">
    <a href="{{ url_for('test_view', course_id=course.id, test_id=test.id) }}">
      <button class="btn purple-btn">Return<i class="fas fa-arrow-alt-circle-right"></i></button>
    </a>
  </div>
</div>

<div class="container new-question my-3 py-3">
  <div id="question-nav" class="row mx-1">
    <div id="nav-tab" class="nav nav-pills" role="tablist">
      {% for question in questions %}
      <a class="nav-item nav-link" id="question-{{ loop.index }}-tab" data-toggle="tab"
        href="#question-{{ loop.index }}" role="tab" aria-controls="question-{{ loop.index }}"
        aria-selected="false">Question
        {{ loop.index }}
      </a>
      {% endfor %}

      <a class="nav-item nav-link active" id="nav-add-tab" data-toggle="tab" href="#new-question" role="tab"
        aria-controls="new-question" aria-selected="true">Add
        <i class="fas fa-plus"></i>
      </a>

    </div>
  </div>

  <div class="tab-content m-3" id="nav-tabContent">
    {% for question in questions %}
    <div class="tab-pane fade h-100" id="question-{{ loop.index }}" role="tabpanel"
      aria-labelledby="question-{{ loop.index }}-tab">

      <form id="question-form" method="POST"
        action="{{ url_for('edit_question', question_id=question.id, course_id=course.id, test_id=test.id) }}">
        {{ form.csrf_token() }}

        {{ form.question_type(value=question.question_type) }}

        <div id="question-content" class="row">
          <div class="col-6">
            <div class="form-group q-description-{{ loop.index }} mb-4">
              <h4 class="subheading">{{ form.description.label }}</h4>
              {% if question.question_type == 1 %}
              {{ form.description(id="question-description-one", class="form-control", style="resize: none;") }}
              {% elif question.question_type == 2 %}
              {{ form.description(id="question-description-two", class="form-control", style="resize: none;") }}
              {% else %}
              {{ form.description(id="question-description-three", class="form-control", style="resize: none;") }}
              {% endif %}
              <script>
                $('.q-description-{{ loop.index }} > textarea').html('{{ question.question_string }}')
              </script>
            </div>

            {% if question.question_type == 2 %}
            <div class="form-group mb-4">
              <h4 class="subheading mb-2">Multiple Choice Options</h4>
              <div class="row">
                <div class="col-6">
                  {{ form.mcq_1(class="form-control mb-1", value=question.mcq_1) }}
                  {{ form.mcq_2(class="form-control mb-1", value=question.mcq_2) }}
                </div>
                <div class="col-6">
                  {{ form.mcq_3(class="form-control mb-1", value=question.mcq_3) }}
                  {{ form.mcq_4(class="form-control", value=question.mcq_4) }}
                </div>
              </div>

            </div>
            {% endif %}
            {% if question.question_type != 3 %}
            <div class="form-group mb-4">
              <h4 class="subheading">{{ form.solution.label }}</h4>
              {% if question.question_type == 1 %}
              {{ form.solution(class="form-control", value=question.answer) }}
              {% elif question.question_type == 2 %}
              <div class="existing-mcq-{{ loop.index }}">
                {{ form.mcq_solution(value=question.mcq_answer) }}
              </div>
              {% endif %}
            </div>
            {% set mcq_sol = question.mcq_answer %}
            <script>
              var mcq_sol = "{{ question.mcq_answer }}"
              $('.existing-mcq-{{ loop.index }} #mcq_solution input').each(function () {
                var option = $(this);
                if (option.attr('value') == mcq_sol) {
                  option.prop('checked', true);
                }
              });
              // if ("{{mcq_sol}}" == 'a') { $('#mcq_solution-0').prop('checked', true); }
              // else if ("{{mcq_sol}}" == 'b') { $('#mcq_solution-1').prop('checked', true); }
              // else if ("{{mcq_sol}}" == 'c') { $('#mcq_solution-2').prop('checked', true); }
              // else if ("{{mcq_sol}}" == 'd') { $('#mcq_solution-3').prop('checked', true); };
            </script>
            {% endif %}
            <div class="form-group mb-4">
              <h4 class="subheading">{{ form.mark_alloc.label }}</h4>
              {{ form.mark_alloc(class="form-control", value=question.mark_alloc) }}
            </div>
            <!-- <div class="row mt-5"></div> -->
            <div class="question-btns">
              {{ form.save(class="btn purple-btn") }}
              {{ form.delete(class="btn delete-btn") }}
            </div>
            <!-- <button class="btn delete-btn" onclick="deletePrompt()">Delete</button>
            <script>
              function deletePrompt () {
                if (confirm("Are you sure you want to delete?")) {
                  location.href = "{{ url_for('delete_question', course_id=course.id, test_id=test.id, question_id=question.id) }}";
                } 
              }
            </script> -->

          </div>

          <div class="col-6 q-code-editor-{{ loop.index }}">
            <!-- <div id="editor" class="editor code-editor"> -->

            {{ form.code_string(id="editor", class="editor code-editor", **{"data-editor": "python"}) }}

            {% if question.code_string %}
            <script>
              $('.q-code-editor-{{ loop.index }} > textarea').html('{{ question.code_string }}')
            </script>
            {% else %}
            <script>
              $('.q-code-editor-{{ loop.index }} > textarea').html('# Write your code here =)')
            </script>
            {% endif %}
            <!-- </div> -->
          </div>
        </div>
      </form>
    </div>
    {% endfor %}


    <!-- New Question (Add +) tab -->
    <div class="tab-pane fade h-100 active show" id="new-question" role="tabpanel" aria-labelledby="nav-add-tab">

      <div class="row mb-3 mx-0">
        <h4 id="q-type" class="subheading justify-content-center">Question type </h4>
        <div class="btn-group-toggle mx-3" data-toggle="buttons">
          <label class="btn btn-primary active question-type-btn">
            <input type="radio" name="options" id="mcq-option-1" autocomplete="off" checked
              onchange="newQuestionSelector(1)"> Output
          </label>
          <label class="btn question-type-btn">
            <input type="radio" name="options" id="mcq-option-2" autocomplete="off" onchange="newQuestionSelector(2)">
            MCQ
          </label>
          <label class="btn question-type-btn">
            <input type="radio" name="options" id="mcq-option-3" autocomplete="off" onchange="newQuestionSelector(3)">
            Code
          </label>
        </div>
      </div>

      <!-- New question form -->
      <form id="new-question-form" method="POST"
        action="{{ url_for('new_question', course_id=course.id, test_id=test.id) }}">
        {{ form.csrf_token() }}

        <!-- Hidden fields -->
        {{ form.question_type(id="question-type") }}

        <div class="row h-100">
          <div class="col-6">
            <div class="form-group mb-4">
              <h4 class="subheading">{{ form.description.label }}</h4>
              {{ form.description(id="question-description", class="form-control", style="resize: none;", placeholder="eg. What does this function do?") }}
            </div>

            <div id="new-question-mcq" class="form-group" style="display: none;">
              <h4 class="subheading mb-2">Multiple Choice Options</h4>
              <div class="row">
                <div class="col-6">
                  {{ form.mcq_1(class="form-control mb-1", placeholder='a)') }}
                  {{ form.mcq_2(class="form-control mb-1", placeholder='b)') }}
                </div>
                <div class="col-6">
                  {{ form.mcq_3(class="form-control mb-1", placeholder='c)') }}
                  {{ form.mcq_4(class="form-control", placeholder='d)') }}
                </div>
              </div>
            </div>

            <div id="new-question-solution" class="form-group">
              <h4 class="subheading">{{ form.solution.label }}</h4>
              {{ form.solution(id="solution-textbox", class="form-control", placeholder='What is the correct solution?') }}
              {{ form.mcq_solution(id="solution-mcq", style="display: none;") }}
            </div>

            <div class="form-group mb-4">
              <h4 class="subheading">{{ form.mark_alloc.label }}</h4>
              {{ form.mark_alloc(class="form-control", placeholder='Please provide an integer mark value (eg. 5, 10)') }}
            </div>
            <!-- <div class="row mt-5"></div> -->
            <div class="question-btns mb-2">
              {{ form.save(class="btn purple-btn") }}
              <button class="btn delete-btn">Clear</button>
            </div>
            {# form.delete(class="btn delete-btn") #}

          </div>

          <div class="col-6">
            {{ form.code_string(id="editor", class="editor code-editor", **{"data-editor": "python"}) }}
            <!-- <div id="editor" class="editor new-question-ace"></div> -->
          </div>
        </div>
      </form>
    </div>
  </div>

</div>

{% endblock %}