{% extends "base.html" %}

{% block content %}
  <!-- Modal -->
  <div class="modal fade" id="new-test-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <h3 class="modal-title">Create a Test</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <div class="modal-body">
          <div class="form-group mb-5">
            <h4 class="modal-subheading">Test Name</h4>
            <input type="text" class="form-control" id="course-name-input" 
                placeholder="e.g. Mid-Semester Exam">
          </div>
          <div class="form-group">
            <h4 class="modal-subheading">IDKKKK WHAT HERE</h4>
            <input type="text" class="form-control" id="course-code-input" 
                placeholder="e.g. idk??">
          </div>
          <button id="create-test-btn" class="btn purple-btn">Create Test</button>
        </div>
      </div>
    </div>
  </div>

<div class="row mx-2">
  <h1 class="page-heading">Tests</h1>
  <button id="new-test-btn" class="btn purple-btn">New Test <i id="option-btn-close" class="fas fa-plus"></i></button>
</div>
<div class="row all-tests">
  {% for test in tests %}
  <!-- <div class="test col-2 col-md-3 mb-5"> -->
  <div class="wrapper">
    <div class="test mb-5 p-3">
      <i id="option-btn" class="fas fa-caret-square-down"></i>
      <a id="test-link" href=#>
        <h2 class="unit-details">{{ course.course_code }}<br>{{ course.name }}</h2>
        <h3 class="test-name">{{ test.name }}</h3>
      </a>
    </div>
    <div class="options">
      <ul id="option-menu">
        <li id="option-title">
          <i id="option-btn-close" class="fas fa-times"></i>

          Options
        </li>
        <li class="option-item">
          <i class="fas fa-font"></i>
          <a href=#>Rename test</a>
        </li>
        <li class="option-item">
          <i class="fas fa-pen"></i>
          <a href=#>Edit test</a>
        </li>
        <li class="option-item">
          <i class="fas fa-clone"></i>
          <a href=#>Make copy</a>
        </li>
        <li class="option-item">
          <i class="fas fa-trash"></i>
          <a href=#>Delete test</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="col"></div> -->

  {% endfor %}
</div>

{% endblock %}