<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if title %}
  <title>{{ title }} - app-name</title>
  {% else %}
  <title>Welcome to app-name</title>
  {% endif %}

  <!-- Favicon (need to make) -->
  <!-- <link rel="shortcut icon" href="favicon.ico"> -->

  <!-- Bootstrap -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <!-- Bootstrap js -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <!-- Bootstrap js bundle -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Quicksand:wght@400&display=swap"
    rel="stylesheet">

  <!-- FontAwesome icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

  <!-- Our own js and css -->
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/main.js"></script>
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <a class="navbar-brand display-1" href="#">Logo</a>
      <li class="nav-item active">
        <a class="nav-link" href="#">Log in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </nav>

  {% block content %} {% endblock %}

</body>

</html>