<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if title %}
  <title>{{ title }} - UniCode</title>
  {% else %}
  <title>Unicode</title>
  {% endif %}

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

  <!-- Bootstrap -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <!-- Bootstrap js -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <!-- Bootstrap js bundle -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

  <!-- Google fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=DM+Sans:wght@400;700&family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap&family=Open+Sans&display=swap"
    rel="stylesheet">

  <!-- Material Darker icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- FontAwesome icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

  <!-- Our own js and css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/unicode.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='js/createTestPopup.js') }}"></script> -->
</head>

<body>
  <!-- Modal -->
  <div class="modal fade" id="new-course-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <h3 class="modal-title">Create a Course</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <div class="modal-body">
          <div class="form-group mb-5">
            <h4 class="modal-subheading">Course Name</h4>
            <input type="text" class="form-control" id="course-name-input" 
                placeholder="e.g. Agile Web Development">
          </div>
          <div class="form-group">
            <h4 class="modal-subheading">Course Code</h4>
            <input type="text" class="form-control" id="course-code-input" 
                placeholder="e.g. CITS3403">
          </div>
          <button id="create-test-btn" class="btn purple-btn">Create Course</button>
        </div>
      </div>
    </div>
  </div>

  <!-- SideBar -->
  <div class="sidenav">
    <img id="logo-horiz" src="{{ url_for('static', filename='img/UniCode-colour-horiz.png') }}" alt="UniCode logo">
    <div class="nav-parent">Courses
      {% if current_user.is_admin %}
      <a id="new-course" href="#">
        <i id="nav-indicator" class="fas fa-plus-circle"></i>
      </a>
      {% endif %}
    </div>

      

    {% if current_user.courses %}
    {% for course in current_user.courses %}
    <a class="nav-child" href="{{ url_for('course_view', course_id=course.id) }}">{{ course.name }}<span
        id="nav-indicator" class="material-icons">chevron_right</span></a>
    {% endfor %}
    {% endif %}

    <div class="nav-parent mt-4">Results</div>
  </div>

  <div class="topbar">
    <p id="username">
      {{ current_user.first_name }} {{ current_user.last_name }}
      <a id="logout-icon" href="{{ (url_for('logout')) }}" style="color: #8593A5;"><i
          class="fas fa-sign-out-alt"></i></a>
      <!-- <i class="fas fa-chevron-circle-down"></i> -->
    </p>
  </div>
  
  <div class="content-container h-100 p-5">
    {% block content %} {% endblock %}
  </div>

  <!-- <hr> -->
  <!-- {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for msg in messages %}
    <li> {{ message }} </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %} -->


</body>

</html>
