<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- {% if title %}
  <title>{{ title }} - app-name</title>
  {% else %}
  <title>Welcome to app-name</title>
  {% endif %} -->

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

  <!-- Bootstrap -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <!-- Bootstrap js -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <!-- Bootstrap js bundle -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Quicksand:wght@400&display=swap"
    rel="stylesheet">

  <!-- Material Darker icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- FontAwesome icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

  <!-- Our own js and css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- <script src="js/main.js"></script> -->
</head>

<body>

  <!-- SideBar -->
  <div class="sidenav">
    <img id="logo-horiz" src="{{ url_for('static', filename='img/UniCode-colour-horiz.png') }}" alt="Logo"
      style="width:80%; display: block; margin-left: auto; margin-right: auto">
    <div class="nav-parent">Courses
      <a id="new-course" href="#">
        <i id="nav-indicator" class="fas fa-plus-circle"></i>
      </a>
    </div>
    <!-- Placeholders until can get from database -->
    <a class="nav-child" href="#">Introduction to Python <span id="nav-indicator"
        class="material-icons">chevron_right</span></a>
    <a class="nav-child" href="#">Data Structures & Algorithms
      <span id="nav-indicator" class="material-icons">chevron_right</span></a>
    <a class="nav-child" href="#">Software Engineering in Java <span id="nav-indicator"
        class="material-icons">chevron_right</span></a>
    <div class="nav-parent mt-4">Results</div>
  </div>

  <div class="topbar">
    <p id="username">
      <!-- Placeholder until can get from database -->
      User name
      <i class="fas fa-chevron-circle-down"></i>
    </p>
  </div>

  <div class="content-container h-100 p-5">
    {% block content %} {% endblock %}
  </div>


  <!-- <hr> -->
  <!-- {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for msg in messages %}
    <li> {{ message }} </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %} -->


</body>

</html>