<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if title %} <title>{{ title }} - UniCode</title>
  {% else %}
  <title>Unicode</title>
  {% endif %}
  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <!-- Bootstrap -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <!-- Bootstrap js -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <!-- Bootstrap js bundle -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <!-- Google fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=DM+Sans:wght@400;700&family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap&family=Open+Sans&display=swap"
    rel="stylesheet">

  <!-- Material Darker icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- FontAwesome icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

  <!-- Our own js and css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/unicode.js') }}"></script>

</head>

<body>

  <!-- Help modal -->
  <div id="help-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div id="help-modal-content" class="modal-content">
        <h3 class="modal-title">Help</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
            aria-hidden="true">&times;</span>
        </button>
        <div id="help-modal-body" class="modal-body">
          <p>Honestly <br>so<br>much<br>text<br>will<br>this<br>scroll<br>ummHonestly
            <br>so<br>much<br>text<br>will<br>this<br>scroll<br>ummHonestly
            <br>so<br>much<br>text<br>will<br>this<br>scroll<br>umm</p>
        </div>
      </div>
    </div>
  </div>

  <!-- SideBar -->
  <div class="sidenav">
    <img id="logo-horiz" src="{{ url_for('static', filename='img/UniCode-colour-horiz.png') }}" alt="UniCode logo">
    <div class="footer">
      <p>&copy; 2020 UniCode. All Rights Reserved <br>Designed by Johnny Barrett, Ivy Bui, Jesse Carter, and Cesar
        Gonzalez</p>
    </div>

  </div>

  <div class="topbar">
    <p id="user-name">Return to login page
      <a href="{{ (url_for('logout')) }}" style="color: #8593A5;">
        <i id="logout-icon" class="fas fa-sign-out-alt"></i>
      </a>
    </p>
  </div>

  <div class="content-container p-5">
    <table id="results-list" class="table table-hover">
        <thead>
          <tr>
            <th>Course</th>
            <th>Test</th>
            <th>Average Mark</th>
            <th>Min Mark</th>
            <th>Max Mark</th>
          </tr>
        </thead>
        <tbody>
          <!-- add functionality to populate table with all tests and results -->
        <% for course in courses %>
          <tr>
            <td>course_name</td>
            <td>test_name</td>
            <td>avg_mark</td>
            <td>min_mark</td>
            <td>max_mark</td>
          </tr>
        <% for test in course.tests %>
        </tbody>
      </table>
    
  </div>



</body>

</html>
