<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UniCode</title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

  <!-- Bootstrap -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

  <!-- Bootstrap js -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <!-- Bootstrap js bundle -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

  <!-- Google fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=DM+Sans:wght@400;700&family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap"
    rel="stylesheet">

  <!-- FontAwesome icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/login-style.css') }}">
  <script src="{{ url_for('static', filename='js/unicode.js') }}"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="empty-150"></div>
    <div class="row align-items-center login-items">
      <div class="col-lg-7 text-center">
        <img id="main-logo" src="{{ url_for('static', filename='img/UniCode-white.svg') }}" alt="UniCode Logo">
        <h1>Because nobody likes writing code with a pen and pad</h1>
      </div>
      <div class="col-lg-4 justify-content-center mt-5 mt-lg-0">

        {% block content %}
        {% endblock %}

      </div>
      <div class=" row">
      </div>
    </div>
    <div class="empty-150"></div>
  </div>
</body>

</html>