{% extends "base.html" %}

{% block content %}
<!-- Show test if haven't taken test OR show "test already taken" OR show results -->
<div class="row mx-2">
  <h1 class="page-heading">{{ course.name }} - {{ test.name }}: {{ student.first_name }} {{ student.last_name }}  </h1>
</div>

<div class="container new-question my-3 py-3">
  <div id="question-nav" class="row mx-1">
    <div id="take-test-nav-tab" class="nav nav-pills" role="tablist">
      {% for question in questions %}
      <a class="nav-item nav-link" id="question-{{ loop.index }}-tab" data-toggle="tab"
        href="#question-{{ loop.index }}" role="tab" aria-controls="question-{{ loop.index }}"
        aria-selected="false">Question
        {{ loop.index }}
      </a>
      {% endfor %}
    </div>
  </div>

  <div class="tab-content m-3" id="nav-tabContent">
    {% for question in questions %}
    <div class="tab-pane fade h-100" id="question-{{ loop.index }}" role="tabpanel"
      aria-labelledby="question-{{ loop.index }}-tab">

      <form id="mark-test-form"> 
          <!-- method="POST"
        action="{{ url_for('new_submission', course_id=course.id, test_id=test.id, question_id=question.id) }}" -->
        
        <div id="question-content" class="row">
          <div class="col-5">
            <div class="form-group q-description-{{ loop.index }} static-description-{{ question.question_type }} mb-4">
              <h4 class="subheading mb-2">Question</h4>
              {{ question.question_string }}
              <script>
                $('.q-description-{{ loop.index }} #static-description').html('{{ question.question_string }}').attr('disabled', 'disabled');
              </script>
            </div>
            <div>
                {% if question.question_type == 1 %}
                    <h4 class="subheading mb-2">Student Answer</h4>
                    {{ question.get_user_submission(student.id).output_sub }}
                    <h4 class="subheading mb-2">Solution</h4>
                    {{ question.answer }}
                    <h4 class="subheading">Allocated Mark: {{ question.mark_alloc }}</h4>
                    <h4 class="subheading">Score: {{ question.get_user_submission(student.id).score }}</h4>
                {% elif question.question_type == 2 %}
                    <h4 class="subheading mb-2">Student Answer</h4>
                    {{ question.get_user_submission(student.id).mcq_sub }}
                    <h4 class="subheading mb-2">Solution</h4>
                    {{ question.mcq_answer }}
                    <h4 class="subheading">Allocated Mark: {{ question.mark_alloc }}</h4>
                    <h4 class="subheading">Score: {{ question.get_user_submission(student.id).score }}</h4>
                {% endif %}
                
            </div>

            <!-- Form for score (q type 3) -->
            {% if question.question_type == 3 %}
            <div>
                <h4 class="subheading">Allocated Mark: {{ question.mark_alloc }}</h4>
                <input type="text" class="form-control" placeholder="Give your student a mark">
            </div>
            <div>
                <button class="btn purple-btn">Save answer</button>
              </div>
            {% endif %}


          </div>

          <div class="col-7 q-code-editor-{{ loop.index }}">
            {% if question.question_type == 3 %}
                {{ question.get_user_submission(student.id).code_sub }}
                <script>
                $('.q-code-editor-{{ loop.index }} .code-editor').html('{{ question.get_user_submission(current_user.id).code_sub }}')
                </script>
            {% else %}
                {{ question.code_string }}
                <script>
                $('.q-code-editor-{{ loop.index }} #static-editor').html('{{ question.code_string }}')
                </script>
            {% endif %}
          </div>

        </div>
      </form>
    </div>
    {% endfor %}
  </div>

</div>

{% endblock %}