{% extends "base.html" %}

{% block content %}
<!-- Feedback Modal -->
<div class="modal fade" id="feedback-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <h3 class="modal-title">Feedback <span class="modal-title-subheading">for {{ student.full_name() }}</span></h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <p>FEEDBACK FORM HERE</p>
        <p>Actual submit button</p>
      </div>
    </div>
  </div>
</div>

<div class="row mx-2">
  <h1 class="page-heading">{{ course.name }} - {{ test.name }}: {{ student.full_name() }}</h1>
  <div class="test-submit-btns mr-5">
    <!-- change action for this submit button -->
    <form action="{{ url_for('submit_test', course_id=course.id, test_id=test.id) }}"
      onsubmit="return confirm('Are you sure you would like to submit these marks?')" method="POST">
      <button type="submit" id="submit-test" class="btn test-submit-btn">Submit and give feedback
        <i class="fas fa-arrow-alt-circle-right"></i></button>
    </form>
  </div>
</div>

<div class="container new-question my-3 py-3">
  <div id="question-nav" class="row mx-1">
    <div id="take-test-nav-tab" class="nav nav-pills" role="tablist">
      {% for question in questions %}
      {% set submission = question.get_user_submission(student.id) %}
      <a class="nav-item nav-link needs-marking-{{ submission.needs_marking }}" id="question-{{ loop.index }}-tab"
        data-toggle="tab" href="#question-{{ loop.index }}" role="tab" aria-controls="question-{{ loop.index }}"
        aria-selected="false">Question
        {{ loop.index }}
      </a>
      {% endfor %}
    </div>
  </div>

  <div class="tab-content m-3" id="nav-tabContent">
    {% for question in questions %}
    {% set submission = question.get_user_submission(student.id) %}
    <div class="tab-pane fade h-100" id="question-{{ loop.index }}" role="tabpanel"
      aria-labelledby="question-{{ loop.index }}-tab">

      <form id="mark-test-form" method="POST"
        action="{{ url_for('mark_submission', course_id=course.id, test_id=test.id, student_id=student.id, submission_id=submission.id) }}">

        {{ form.hidden_tag() }}

        <div id="question-content" class="row">
          <div class="col-5">
            <div class="form-group q-description-{{ loop.index }} static-description-{{ question.question_type }} mb-4">
              <h4 class="subheading mb-2">Question</h4>
              {{ form.description(id="static-description", class="form-control mb-2") }}
              <script>
                $('.q-description-{{ loop.index }} #static-description').html('{{ question.question_string }}').attr('disabled', 'disabled');
              </script>
            </div>

            {% if question.question_type != 3 %}
            {% if question.question_type == 1 %}
            <div class="form-group mb-4">
              <h4 class="subheading mb-2">Student Answer</h4>
              {{ submission.output_sub }}
            </div>
            <div class="form-group mb-4">
              <h4 class="subheading mb-2">Solution</h4>
              {{ question.answer }}
            </div>

            {% elif question.question_type == 2 %}
            <div class="mb-4">
              <h4 class="subheading mb-2">Student Answer</h4>
              {{ submission.mcq_sub }}
            </div>
            <div class="mb-4">
              <h4 class="subheading mb-2">Solution</h4>
              {{ question.mcq_answer }}
            </div>
            {% endif %}

            <h4 class="subheading mb-2">Student Mark</h4>
            <div class="row m-0">
              {{ form.mark(id="student-mark-box", class="form-control", value=submission.score) }}
              <p id="mark-out-of">/ {{ question.mark_alloc }}</p>
            </div>
            </h4>


            <!-- Form for Question type 3 (write code question) -->
            {% else %}
              <h4 class="subheading mb-2">Student Mark</h4>
              <div class="row m-0">
                {% if submission.needs_marking %}
                  {{ form.mark(id="qtype-3-mark-box", class="form-control", placeholder="Give your student a mark") }}
                {% else %}
                  {{ form.mark(class="form-control", value=submission.score) }}
                {% endif %}
                <p id="mark-out-of">/ {{ question.mark_alloc }}</p>
              </div>
            
            {% endif %}
            <div class="question-btns">
              {{ form.submit(class="btn purple-btn question-btns") }}
            </div>
          </div>

          <div class="col-7 q-code-editor-{{ loop.index }}">
            {{ form.code_answer(id="static-editor", class="editor code-editor", **{"data-editor": "python"}) }}
            <script>
              if ("{{ question.question_type }}" == 3) {
                $('.q-code-editor-{{ loop.index }} .code-editor').html('{{ submission.code_sub }}');
              }
              else {
                $('.q-code-editor-{{ loop.index }} .code-editor').html('{{ question.code_string }}');
              }
            </script>
          </div>
        </div>
      </form>
    </div>
    {% endfor %}
  </div>

</div>

{% endblock %}