{% extends "base.html" %}

{% block content %}

<div class="row mx-2">
  <h1 class="page-heading">Tests</h1>
</div>

<div class="row all-tests mt-3">
  {% for test in tests %}
  
  <div class="test submitted-test mb-5">
    <a id="test-link" href="{{ url_for('student_test_view', course_id=course.id, test_id=test.id) }}">
      <h2 class="unit-details">{{ course.course_code }}<br>{{ course.name }}</h2>
      <h3 class="test-name">{{ test.name }}</h3>
    </a>
      {% if test.has_result(current_user.id) %}
      <div class="submitted-flag p-1">
        <p>Submitted</p>
      </div>
      {% endif %}
  </div>

  
  {% endfor %}

 
</div>

{% endblock %}