{% extends "base.html" %}

{% block content %}
<!-- Show test if haven't taken test OR show "test already taken" OR show results -->
<div class="row mx-2">
  <h1 class="page-heading">{{ course.name }} - {{ test.name }}</h1>
  <div class="test-submit-btns mr-5">
    <form action="{{ url_for('submit_test', course_id=course.id, test_id=test.id) }}"
      onsubmit="return confirm('Are you sure you would like to submit your test?')" method="POST">
      <button type="submit" id="submit-test" class="btn test-submit-btn">Submit test
        <i class="fas fa-arrow-alt-circle-right"></i></button>
    </form>
  </div>
</div>

<div class="container new-question my-3 py-3">
  <div id="question-nav" class="row mx-1">
    <div id="take-test-nav-tab" class="nav nav-pills" role="tablist">
      {% for question in questions %}
      <a class="nav-item nav-link" id="question-{{ loop.index }}-tab" data-toggle="tab"
        href="#question-{{ loop.index }}" role="tab" aria-controls="question-{{ loop.index }}"
        aria-selected="false">Question
        {{ loop.index }}
      </a>
      {% endfor %}
    </div>
  </div>

  <div class="tab-content m-3" id="nav-tabContent">
    {% for question in questions %}
    <div class="tab-pane fade h-100" id="question-{{ loop.index }}" role="tabpanel"
      aria-labelledby="question-{{ loop.index }}-tab">

      <form id="test-form" method="POST"
        action="{{ url_for('new_submission', course_id=course.id, test_id=test.id, question_id=question.id) }}">
        {{ form.csrf_token() }}

        <div id="question-content" class="row">
          <div class="col-5">
            <div class="form-group q-description-{{ loop.index }} static-description-{{ question.question_type }} mb-4">
              <h4 class="subheading mb-2">Question</h4>
              {{ form.description(id="static-description", class="form-control mb-2") }}
              <script>
                $('.q-description-{{ loop.index }} #static-description').html('{{ question.question_string }}').attr('disabled', 'disabled');
              </script>
            </div>

            <div class="form-group mb-4">
              {% if question.question_type == 1 %}
              <h4 class="subheading mb-2">Answer</h4>
              {{ form.output_answer(class="form-control", placeholder="Write your answer here", value=question.get_user_submission(current_user.id).output_sub) }}

              {% elif question.question_type == 2 %}
              {% set mcq_sub = question.get_user_submission(current_user.id).mcq_sub %}
              <script>
                if ("{{mcq_sub}}" == 'a') { $('#mcq-1').prop('checked', true); }
                else if ("{{mcq_sub}}" == 'b') { $('#mcq-2').prop('checked', true); }
                else if ("{{mcq_sub}}" == 'c') { $('#mcq-3').prop('checked', true); }
                else if ("{{mcq_sub}}" == 'd') { $('#mcq-4').prop('checked', true); };
              </script>
              <div id="mcq-form-{{ loop.index }}"> 
                {{ form.mcq_answer(id="mcq-answer") }}
              </div>
              <h4 class="subheading mb-2">Select one option</h4>
              <ol type="a">
                {% set outer_loop_index = loop.index %}
                {% for mcq in question.get_mcq_options() %}
                {% if mcq %}
                <li>
                  <input type="radio" id="mcq-{{ loop.index }}" class="mcq-radio ml-2" name="mcq"
                    onchange='insertValueToHidden({{ outer_loop_index }}, "{{ loop.index }}")'>
                  <label for="mcq-{{ loop.index }}" class="ml-2">{{ mcq }}</label>
                </li>
                {% endif %}
                {% endfor %}
              </ol>
              {% endif %}
            </div>

            <div class="question-btns">
              <button class="btn purple-btn">Save answer</button>
            </div>
          </div>

          <div class="col-7 q-code-editor-{{ loop.index }}">
            {% if question.question_type == 3 %}
            {{ form.code_answer(id="editor", class="editor code-editor", **{"data-editor": "python"}) }}
            <script>
              $('.q-code-editor-{{ loop.index }} .code-editor').html('{{ question.get_user_submission(current_user.id).code_sub }}')
            </script>
            {% else %}
            {{ form.code_answer(id="static-editor", class="editor code-editor", **{"data-editor": "python"}) }}
            {% if question.code_string %}
            <script>
              $('.q-code-editor-{{ loop.index }} #static-editor').html('{{ question.code_string }}')
            </script>
            {% else %}
            <script>
              $('.q-code-editor-{{ loop.index }} #static-editor').html('# Looks like your teacher forgot to write their code here!')
            </script>
            {% endif %}
            {% endif %}
          </div>

        </div>
      </form>
    </div>
    {% endfor %}
  </div>

</div>

{% endblock %}
