{% extends "base.html" %}

{% block content %}
<!-- Show test if haven't taken test OR show "test already taken" OR show results -->
<div class="row mx-2">
  <h1 class="page-heading">{{ course.name }} - {{ test.name }}</h1>
  <div class="test-submit-btns mr-5">
    <button id="submit-test" class="btn test-submit-btn">Submit test<i
        class="fas fa-arrow-alt-circle-right"></i></button>
  </div>
</div>

<div class="container new-question my-3 py-3">
  <div id="question-nav" class="row mx-1">
    <div id="take-test-nav-tab" class="nav nav-pills" role="tablist">
      {% for question in questions %}
      <a class="nav-item nav-link" id="question-{{ loop.index }}-tab" data-toggle="tab"
        href="#question-{{ loop.index }}" role="tab" aria-controls="question-{{ loop.index }}"
        aria-selected="false">Question
        {{ loop.index }}
      </a>
      {% endfor %}
    </div>
  </div>

  <div class="tab-content m-3" id="nav-tabContent">
    {% for question in questions %}
    <div class="tab-pane fade h-100" id="question-{{ loop.index }}" role="tabpanel"
      aria-labelledby="question-{{ loop.index }}-tab">

      <form id="test-form" method="POST" action="">
        {{ form.hidden_tag() }}

        <div id="question-content" class="row">
          <div class="col-6">
            <div class="form-group q-description-{{ loop.index }} mb-4">
              <h4 class="subheading">Question</h4>
              {{ question.question_string }}
            </div>

            <div class="form-group mb-4">
              {% if question.question_type == 2 %}
              <h4 class="subheading mb-2">Select one option</h4>
              <ol type="a">
                {% for mcq in [question.mcq_1, question.mcq_2, question.mcq_3, question.mcq_4] %}
                {% if mcq %}
                <li>
                  <!-- This isn't working yet -->
                  <input type="radio" id="mcq-{{ loop.index }}" class="mcq-radio ml-2" name="mcq"
                    onchange='insertValueToHidden("{{ mcq }}")'>
                  <label for="mcq-{{ loop.index }}" class="ml-2">{{ mcq }}</label>
                </li>
                {% endif %}
                {% endfor %}
              </ol>
              {% else %}
              <h4 class="subheading">Answer</h4>
              <textarea class="form-control" rows="10" style="resize: none;"
                placeholder="Write your answer here"></textarea>
              {% endif %}
            </div>

            <div class="question-btns">
              <button class="btn purple-btn">Save answer</button>
            </div>
          </div>

          <div class="col-6 q-code-editor-{{ loop.index }}">
            {% if question.question_type == 3 %}
            {{ form.code_answer(id="editor", class="editor code-editor", **{"data-editor": "python"}) }}

            {% else %}
            {{ form.code_answer(id="static-editor", class="editor code-editor", **{"data-editor": "python"}) }}
            {% if question.code_string %}
            <script>
              $('.q-code-editor-{{ loop.index }} #static-editor').html('{{ question.code_string }}')
            </script>
            {% else %}
            <script>
              $('.q-code-editor-{{ loop.index }} #static-editor').html('# Looks like your teacher forgot to write their code here!')
            </script>
            {% endif %}
            {% endif %}
          </div>

        </div>
      </form>
    </div>
    {% endfor %}
  </div>

</div>

{% endblock %}